<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<section class="page-header">
	{% include top.html %}
</section>

	<div role="main">
		<article>
			<div class="top-section" style="margin:2em;">
		<h2>Welcome to the Glycoinformatics Consortium page!</h2>
		     {% for section in page.sections %}
			<div>{{ section['top-section'] | textilize }}</div>
	       	     {% endfor %}
			</div>
			
			<div class="content">
			    <section class="main-content">
	              {{ content }}
	            </section>
	        </div>
        </article>
    </div>
</body>
{% include footer.html %}
</html>
